$color-grayish-blue: hsl(237, 18%, 59%);
$color-soft-red: hsl(345, 95%, 68%);
$color-white: hsl(0, 0%, 100%);
$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-dark-blue:hsl(235, 16%, 14%);
$color-deep-dark-blue: hsl(234, 17%, 12%);
$color-deep-purple: hsl(274deg 22% 14%);