@import "theme/colors";

* {
  box-sizing: border-box;
}

html {
  background-color: hsl(271deg 23% 18%);
}

body {
  color: $color-white;
  margin: 0;
  position: relative;
  background-image: linear-gradient(to bottom, $color-dark-blue, 20%, $color-deep-dark-blue, 45%, $color-deep-purple);
}

.icon {
  fill: $color-grayish-blue;
  margin: 0 1rem;

  &:hover {
    fill: $color-soft-red;
  }
}

// TEXT
h1 {
  font-size: 1.5rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-spaced {
  letter-spacing: 6px;
}

.text-weight-500 {
  font-weight: 500;
}
.text-weight-700 {
  font-weight: 700;
}